{% extends 'base.html.twig' %}

{% block title %}Colocations{% endblock %}

{% block body %}
    <!-- Titlebar
================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>Colocations</h2>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('colocations_new') }}" class="button border with-icon">Nouvelle colocation <i class="sl sl-icon-plus"></i></a>
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Search -->
                <div class="col-md-12" style="margin-bottom: 30px;">
                    <div class="main-search-input gray-style margin-top-0 margin-bottom-10">
                        <div class="main-search-input-item location">
                            <div id="autocomplete-container">
                                <input id="city" type="text" placeholder="Rechercher par ville">
                            </div>
                            <a href="#"><i class="fa fa-map-marker"></i></a>
                        </div>

                    </div>
                </div>
                <!-- Search Section / End -->
                <div id="content" class="row">
                    {% include '@App/colocations/index_content.html.twig' %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        $('#city').keyup(function () {
            $.ajax({
                url:    "{{ path('colocations_index') }}",
                type:   "post",
                data:   "city="+$('#city').val()
            }).done(function (data) {
                $('#content').html(data.html);
            });
        });
    </script>
{% endblock %}