app_covoiturage:
    resource: "@AppBundle/Resources/config/routing/covoiturage.yml"
    prefix:   /covoiturage

#app_permutation:
#    resource: "@AppBundle/Resources/config/routing/permutation.yml"
#    prefix:   /permutation

app_permutation_classes:
    resource: "@AppBundle/Resources/config/routing/permutation_classes.yml"
    prefix:   /permutation

app_permutation_colocations:
    resource: "@AppBundle/Resources/config/routing/colocation.yml"
    prefix:   /colocations

app_permutation_objets_perdus:
    resource: "@AppBundle/Resources/config/routing/objets_perdus.yml"
    prefix:   /objetsperdus

index:
    path:     /
    defaults: { _controller: "AppBundle:Default:index" }
    methods:  GET

current_user_profile:
    path:   /profile
    defaults:   {   _controller:    "AppBundle:Default:CurrentUserProfile"  }

user_profile:
    path:   /user/{id}
    defaults:   {   _controller:    "AppBundle:Default:UserProfile",id: -1  }

show_hide_phone:
    path:   /shpn
    defaults:   {   _controller:    "AppBundle:Default:PhoneNumber" }

change_user_photo:
    path:   /cppic
    defaults:   {   _controller:    "AppBundle:Default:changeUserPhoto" }

emplois:
    path:   /emplois
    defaults:   {   _controller:    "AppBundle:Default:emplois"  }