{% extends 'base.html.twig' %}

{% block body %}
    <div class="container sign-in-form" style="margin-top: 5%; margin-bottom: 10%;">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <ul id="register_active" class="tabs-nav">
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li class="active"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                </ul>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                {{ include('@FOSUser/Registration/register_content.html.twig') }}
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        $('.class-textfield').focus(function () {
            $('.help-message').text('Veuillez saisir les lettres en majuscule.\nFormats des spécialités pour les 4ème et 5ème année : BI,GL,NIDS,DS,INFINI,CLOUD,TWIN,IRT,ISEM,SIM,SLEAM,INFOB. ').fadeIn();
        });
    </script>
{% endblock %}